/* h1 {
    text-align: center;
    font-family: ;
}

body > div {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
        & div {
            width: 150px;
            height: 300px;
            background-image: url("media/media/silly_walk/silly_walk.png");
            background-repeat: no-repeat;
            /*MARK: dan doe je de width keer het aantal afbeeldingen
                    150 x 12 = 1800 */
            /* background-size: 1800px;
            animation: sillyWalk 1s steps(12) infinite;
        }
}
        @keyframes sillyWalk {
            from {
                background-position: 0px;
            }to{
                background-position: -1800px;
            }
        } */

/* Het sterretje betekent alles */
* {
    box-sizing: border-box;
    transform-style: preserve-3d;
}

h1 {
    text-align: center;
    font-family:
}

body > div {
    --width-lijf: 100px;
    --height-lijf: 300px;
    --width-been:80px;
    --height-been:150px;
    --width-arm:80px;
    --height-arm:150px;

    width: var(--width-lijf);
    height: var(--height-lijf);
    background-color: black;
    border-radius: calc(var(--width-lijf) * .5);
    margin: auto;
    position: relative;

    & > div:nth-of-type(1) {
        width: var(--width-been);
        height: var(--height-been);
        background-color: purple;
        border-radius: calc(var(--width-been) * .5);

        position: absolute;
        top: calc(100% - var(--width-been));
        left: calc(50% - var(--width-been) * .5);
        transform-origin: calc(var(--width-been) * .5) calc(var(--width-been) * .5);
        animation: rotate 5s ease infinite;
        translate: 0 0 .1em;
    }

    & > div:nth-of-type(2) {
        width: var(--width-been);
        height: var(--height-been);
        background-color:blueviolet;
        border-radius: calc(var(--width-been) * .5);

        position: absolute;
        top: calc(100% - var(--width-been));
        left: calc(50% - var(--width-been) * .5);
        transform-origin: calc(var(--width-been) * .5) calc(var(--width-been) * .5);
        animation: rotate 1s ease infinite;
        translate: 0 0 -.1em;
    }

    & > div:nth-of-type(3) {
        width: var(--width-arm);
        height: var(--height-arm);
        background-color: yellow;
        border-radius: calc(var(--width-arm) * .5);

        position: absolute;
    }
    
    & > div:nth-of-type(4) {
        width: var(--width-arm);
        height: var(--height-arm);
        background-color: orange;
        border-radius: calc(var(--width-arm) * .5);

        position: absolute;
        /* top: calc(100% - var(--width-arm));
        left: calc(50% - var(--width-arm) * .5);
        transform-origin: calc(var(--width-arm) * .5) calc(var(--width-arm) * .5); */
        animation: rotate 2s ease infinite;
    }
}
@keyframes rotate {
    0% 100% {rotate: -20deg;}
    50% {rotate: 20deg;}
}