/* Het sterretje betekent alles */
* {
    box-sizing: border-box;
    transform-style: preserve-3d;
}


/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} */

body {
    min-height:100dvh;
    margin:0;

    display:grid;
    justify-items: center;
    align-items:center;
}


h1 {
    position: fixed;
    text-align: center;
    font-family: sans-serif;
    top:1em;
}


body > div {
    --width-lijf: 300px;
    --height-lijf: 100px;

    --width-been:80px;
    --height-been:150px;

    --width-arm:80px;
    --height-arm:150px;

    width: var(--width-lijf);
    height: var(--height-lijf);
    background-color: black;
    border-radius: calc(var(--width-lijf) * .5);
    position: relative;

    /* benen */
    & > div:nth-of-type(1) {
        width: var(--width-been);
        height: var(--height-been);
        background-color: purple;
        border-radius: calc(var(--width-been) * .5);

        position: absolute;
        top:  calc( var(--height-lijf) * .5 - var(--width-been) * .5);
        left: calc( var(--height-lijf) * .5 - var(--width-been) * .5);

        transform-origin: calc(var(--width-been) * .5) calc(var(--width-been) * .5);

        animation: rotate 5s ease infinite;
        translate: 0 0 .1em;
        rotate: -90deg;
    }

    & > div:nth-of-type(2) {
        width: var(--width-been);
        height: var(--height-been);
        background-color:blueviolet;
        border-radius: calc(var(--width-been) * .5);

        position: absolute;
        top:  calc( var(--height-lijf) * .5 - var(--width-been) * .5);
        left: calc( var(--height-lijf) * .5 - var(--width-been) * .5);
        transform-origin: calc(var(--width-been) * .5) calc(var(--width-been) * .5);
        animation: rotate 1s ease infinite;
        translate: 0 0 -.1em;
        rotate: -90deg;
    }

    /* armen */
    & > div:nth-of-type(3) {
        width: var(--width-arm);
        height: var(--height-arm);
        background-color: yellow;
        border-radius: calc(var(--width-arm) * .5);

        position: absolute;
        top:  calc( var(--height-lijf) * .5 - var(--width-been) * .5);
        right: calc( var(--height-lijf) * .5 - var(--width-been) * .5);
        transform-origin: calc(var(--width-arm) * .5) calc(var(--width-arm) * .5);
        rotate: -90deg;
    }
    
    & > div:nth-of-type(4) {
        width: var(--width-arm);
        height: var(--height-arm);
        background-color: orange;
        border-radius: calc(var(--width-arm) * .5);

        position: absolute;
        top:  calc( var(--height-lijf) * .5 - var(--width-been) * .5);
        right: calc( var(--height-lijf) * .5 - var(--width-been) * .5);
        transform-origin: calc(var(--width-arm) * .5) calc(var(--width-arm) * .5);
        animation: rotate 2s ease infinite;
        translate: 0 0 -.1em;
        rotate: -90deg;
    }
}

@keyframes rotate {
    0%, 100% {rotate: -90deg;}
    50% {rotate: 90deg;}
}